/* ==============================================
                ****** RESET ******
  ============================================== */

.svg {
  fill: aliceblue;
}

.first {
  background-color: #f72210;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

.last > a:hover {
  color: #f72210 !important;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

.body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* header */

.bg-white {
  background-color: #fff!important;
}

.p-0 {
  padding: 0!important;
}

.m-0 {
  margin: 0!important;
}

.container-fluid {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.page-header {
  position: relative;
  z-index: 10;
}

.header {
  display: block;
}

.align-items-end {
  align-items: flex-end!important;
}

.justify-content-between {
  justify-content: space-between!important;
}

.d-flex {
  display: flex!important;
}

.top-nav {
  height: 92px;
  background-color: #f72210;
  font-family: "Roboto Condensed", sans-serif;
}

.top-nav .top-nav-action a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.text-white {
  color: #fff!important;
}

.fw-light {
  font-weight: 300!important;
}

.a {
  color: #0d6efd;
  text-decoration: underline;
}

.div {
  display: block;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
}

html,
body {
  height: 100%;
}

.main {
  min-height: 50%;
}

.sub {
  border-radius: 10px;
}

::before {
  box-sizing: border-box;
}

.first-bottom {
  background-color: #f72210;
  border-bottom: 2px solid #eee;
  width: 66px !important;
  position: absolute;
  top: 88px;
  right: 0;
  content: "";
  display: block;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.content {
  position: fixed;
  bottom: 0;
}

.svg {
  vertical-align: middle;
}

.svg:not(:root) {
  overflow: hidden;
}

:not(svg) {
  transform-origin: 0px 0px;
}

.top-nav .top-nav-action ul {
  margin: 0;
  padding: 0;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item:not(:last-child) {
  margin-right: .5rem;
}

.list-inline-item {
  display: inline-block;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* header */


/* footer */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;700&display=swap");


.footer-top p {
  font-size: 0.8rem;
  color: #666;
}

.footer-top .social-icons a {
  color: #666;
  font-size: 0.933rem;
}

.footer-links {
  border-top: 1px solid #d9d9d9;
}

.footer-links .footer-links-edition,
.footer-links .footer-links-mini {
  padding: 0 0 0.6em 0;
}

.footer-links .footer-links-edition li,
.footer-links .footer-links-mini li {
  border-right: 1px solid #d9d9d9;
  padding-right: 10px;
  margin-right: 10px;
}

.footer-links .footer-links-edition a,
.footer-links .footer-links-mini a {
  color: #666;
  font-size: 0.8125rem;
  white-space: nowrap;
}

.footer-links .footer-links-edition :hover,
.footer-links .footer-links-mini :hover {
  color: black;
}

/* footer */

/* media q */

@media screen and (max-width: 425px) {
  .lg {
    display: flex;
    width: 100vw;
    position: absolute;
    top: 3px;
    left: 200px;
  }
}

@media screen and (max-width: 720px) {
  .footer-links {
    padding: 0 0 0 0.6em;
  }

  .footer-links .footer-links-edition li,
  .footer-links .footer-links-mini li {
    border: none;
  }
}

@media (min-width: 768px) {
  .d-md-block {
    display: block!important;
  }
}

@media screen and (max-width: 780px) {
  .footer-top .bottom-logo {
    margin: 0 0 0.5em 0.6em;
  }

  .svg {
    height: 20px;
    width: 130px;
  }

  .first {
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap;
  }

  .lg {
    display: flex;
    width: 30vw;
    position: absolute;
    top: 5px;
    right: 0;
  }

  .lg1 {
    display: flex;
    width: 40vw;
    position: absolute;
    top: 5px;
    right: 100px;
  }
}

@media screen and (max-width: 990px) {
  .top-nav .brand-logo > svg {
    transition: height 0.6s ease;
    height: 20px !important;
    width: 132px;
    padding-left: 1em;
  }
}



@media (min-width: 992px){
  .pb-lg-3 {
    padding-bottom: 1rem!important;
  }

  .pt-lg-4 {
    padding-top: 1.5rem!important;
  }

  .px-lg-3 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
  }

  .d-lg-block {
    display: block!important;
  }
}

@media screen and (min-width: 1020px) {
  .lg {
    position: absolute;
    top: 5%;
    right: 5%;
  }

  .lg1 {
    position: absolute;
    top: 5%;
    right: 20%;
  }

  .svg {
    position: relative;
    right: -65%;
  }
}
